{% extends "sidebar_layout.html" %}
{% from "_helpers.html" import render_field_icon %}
{% block content %}
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">{{ _('Registro de fasciculo nuevo') }}</div>
            <div class="card-body card-block">
                <form action="" method="post" novalidate>
                    {{ render_field_icon(form.revista, 'at', class_='form-control') }}
                    {{ render_field_icon(form.volumen, 'at', class_='form-control') }}
                    {{ render_field_icon(form.numero, 'at', class_='form-control') }}
                    {{ render_field_icon(form.anio, 'at', class_='form-control') }}
                    {{ render_field_icon(form.mes_inicial, 'at', class_='form-control') }}
                    {{ render_field_icon(form.mes_final, 'at', class_='form-control') }}
                    {{ render_field_icon(form.parte, 'at', class_='form-control') }}
                    {{ render_field_icon(form.fecha_creacion, 'at', class_='form-control') }}
                    {{ render_field_icon(form.fecha_actualizacion, 'at', class_='form-control') }}
                    <div class="form-actions form-group">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-primary btn-sm">{{ _('Registrar') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}