{% extends "sidebar_layout.html" %}
{% from "_helpers.html" import render_field_icon %}
{% block content %}
    <div class="col-lg-6">
        <div class="card">
          <div class="card-header">{{ _('Registro de usuario') }}</div>
          <div class="card-body card-block">
            <form action="" method="post" class="">
                {{ render_field_icon(form.username, 'user', class_='form-control') }}
                {{ render_field_icon(form.email, 'at', class_='form-control') }}
                {{ render_field_icon(form.password, 'key', class_='form-control') }}
                {{ render_field_icon(form.confirm, 'key', class_='form-control') }}
                <div class="form-actions form-group">
                    {{ form.hidden_tag() }}
                    <button type="submit" class="btn btn-primary btn-sm">{{ _('Enviar') }}</button>
                </div>
            </form>
          </div>
        </div>
    </div>
{% endblock %}

