{% extends "sidebar_layout.html" %}
{% from "_helpers.html" import render_field_icon %}
{% block content %}
    <div class="col-lg-12">
        <div class="card">
          <div class="card-header">{{ _('Registro de nueva revista') }}</div>
          <div class="card-body card-block">
              <form method="post">
                {% for field in form %}
                    {{ render_field_icon(field, class_='form-control') }}
                {% endfor %}
                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-primary btn-sm">{{ _('Registrar') }}</button>
                </div>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
