{% macro render_field_icon(field, icon=None) %}
    <div class="form-group">
        {% if field.type == 'CSRFTokenField'%}
		{{ field }}
        {% elif field.type == 'FieldList' %}
            <div data-toggle="fieldset" id="{{ field.name }}-fieldset">
                 <label>{{ field.label }}</label>
                <button type="button" class="btn btn-outline-link btn-sm" data-toggle="fieldset-add-row"
                                                  data-target="#{{ field.name }}-fieldset"><i class="fa fa-plus-circle"></i></button>
                {% if field[0].type == 'FormField' %}
                    <table {% if field.min_entries == 0 and not all(field[0].data.values()) %}style="display: none;" {% endif %} class="table borderless">
                        <tr>
                            {% for subfield in field[0] %}
                            <th>{{ subfield.label }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        {% for subfield in field %}
                            {% set outer_loop = loop %}
                            <tr data-toggle="fieldset-entry">
                                {% for formfield in subfield %}
                                    <td>{{ formfield(disabled=not outer_loop.index0 < field.min_entries and not all(subfield.data.values())) }}</td>
                                {% endfor %}
                                <td><button type="button" class="btn btn-outline-link btn-sm" data-toggle="fieldset-remove-row" id="{{ field.name }}-{{loop.index0}}-remove" {% if loop.index0 < field.min_entries %}style="display:none;"{% endif %}><i class="fa fa-minus-circle"></i></button></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table {% if field.min_entries == 0 and not field[0].data %}style="display: none;" {% endif %} class="table borderless">
                    <tr>
                        <th>{{ field[0].label }}</th>
                        <th></th>
                    </tr>
                    {% for subfield in field.entries %}
                        <tr data-toggle="fieldset-entry">
                            <td>{{ subfield(disabled=not subfield.data) }}</td>
                            <td><button type="button" class="btn btn-outline-link btn-sm" data-toggle="fieldset-remove-row" id="{{ field.name }}-{{loop.index0}}-remove" {% if loop.index0 < field.min_entries %}style="display:none;"{% endif %}><i class="fa fa-minus-circle"></i></button></td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        {% else %}
            <label>{{ field.label }}</label>
            <div class="input-group">
                {% if icon %}
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-{{ icon }}"></i></div>
                </div>
                {% endif %}
                {{ field(**kwargs)|safe }}
            </div>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <small class="help-block form-text text-danger">{{ error }}</small>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro bool_formatter(value) %}
    {% set glyph = 'ok-circle' if value else 'minus-sign' %}
    {% set fa = 'check-circle' if value else 'minus-circle' %}
    <span class="fa fa-{{ fa }} glyphicon glyphicon-{{ glyph }} icon-{{ glyph }}"></span>
{% endmacro %}


{# Macro para crear links de navegación, es necesario un objeto paginate #}
{% macro render_navigation(pagination, endpoint) %}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if pagination.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, **request.args) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for page in pagination.iter_pages() %}
                {% if page %}
                  {% if page != pagination.page %}
                      <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page, **request.args) }}">{{ page }}</a></li>
                  {% else %}
                      <li class="page-item active">
                          <span class="page-link">
                              {{ page }}<span class="sr-only">(current)</span>
                          </span>
                      </li>
                  {% endif %}
                {% else %}
                    <li class="page-item"><span class="page-link">…</span></li>
                {% endif %}
            {% endfor %}
            {% if pagination.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, **request.args) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
      </ul>
    </nav>
{% endmacro %}
