<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="efrain" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title></title>
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="any" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/googleStyles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>

<body>
	<div class="wrapper">
		<div class="sidebar" data-color="purple" data-background-color="white" data-image="{{ url_for('static', filename='img/sidebar.jpg') }}">
			<div class="logo">
				<a href="#" class="simple-text logo-normal">
					Biblat Manager
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">
							<i class="fas fa-bookmark"></i>
							<p>Revistas</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-university"></i>
							<p>Institución</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-balance-scale"></i>
							<p>Licencias</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
				<div class="container-fluid">
					<div class="navbar-wrapper">
					
						{% block titulo %}{% endblock %}

					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
						<span class="navbar-toggler-icon icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navigation">
						<form class="navbar-form">
							<div class="input-group no-border">
								<input type="text" value="" class="form-control" placeholder="Buscar">
								<button type="submit" class="btn btn-white btn-round btn-just-icon">
									<i class="material-icons">search</i>
									<div class="ripple-container"></div>
								</button>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-user-circle fa-lg"></i>
									<p>
										<span class="d-lg-none d-md-block">Perfil</span>
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-sign-out-alt fa-lg"></i>
									<p>
										<span class="d-lg-none d-md-block">Cerrar sesión</span>
									</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
			
				{% block contenido %}{% endblock %}
				
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<div class="copyright float-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script> Todos los derechos reservados. Dirección General de Bibliotecas, UNAM.
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}" integrity="sha256-19J3rT3tQdidgtqqdQ3xNu++Gd7EoP/ag/0x1lHi0xY="
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-material-design.min.js') }}"></script>
</body>

</html>
