            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="col-sm-12">
                    {% for cagegory, message in messages %}
                    <div class="sufee-alert alert with-close alert-{{ cagegory.replace('error', 'danger') }} alert-dismissible fade show" data-auto-dismiss="{{ loop.index * 5 }}000">
                        <span class="badge badge-pill badge-{{ cagegory.replace('error', 'danger') }}">{{ cagegory|title }}</span>
                            {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="{{ _('Cerrar') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
