<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="efrain" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title></title>
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="any" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/googleStyles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>