{% extends "base_layout.html" %}
{% block body %}

    {% include "left_panel.html" %}

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{ breadcrumbs[-1].text }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            {% for breadcrumb in breadcrumbs %}
                                {% if not loop.last %}
                                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a></li>
                                {% else %}
                                    <li class="active">{{ breadcrumb.text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="col-sm-12">
                    {% for cagegory, message in messages %}
                    <div class="sufee-alert alert with-close alert-{{ cagegory.replace('error', 'danger') }} alert-dismissible fade show">
                        <span class="badge badge-pill badge-{{ cagegory.replace('error', 'danger') }}">{{ cagegory|title }}</span>
                            {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="{{ _('Cerrar') }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
              {% endif %}
            {% endwith %}


            {% block content %}{% endblock %}

        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->
{% endblock %}
